CSPSS/Service References/ServiceReference1/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://oyxxi.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://oyxxi.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://oyxxi.com/">
      <s:element name="getsqlcon">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="USER_NAME" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PASSWORD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DOMAIN" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getsqlconResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getsqlconResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getsqlconSoapIn">
    <wsdl:part name="parameters" element="tns:getsqlcon" />
  </wsdl:message>
  <wsdl:message name="getsqlconSoapOut">
    <wsdl:part name="parameters" element="tns:getsqlconResponse" />
  </wsdl:message>
  <wsdl:message name="getsqlconHttpGetIn">
    <wsdl:part name="USER_NAME" type="s:string" />
    <wsdl:part name="PASSWORD" type="s:string" />
    <wsdl:part name="DOMAIN" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getsqlconHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getsqlconHttpPostIn">
    <wsdl:part name="USER_NAME" type="s:string" />
    <wsdl:part name="PASSWORD" type="s:string" />
    <wsdl:part name="DOMAIN" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getsqlconHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="getsqlcon">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">XIZHE</wsdl:documentation>
      <wsdl:input message="tns:getsqlconSoapIn" />
      <wsdl:output message="tns:getsqlconSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Service1HttpGet">
    <wsdl:operation name="getsqlcon">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">XIZHE</wsdl:documentation>
      <wsdl:input message="tns:getsqlconHttpGetIn" />
      <wsdl:output message="tns:getsqlconHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Service1HttpPost">
    <wsdl:operation name="getsqlcon">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">XIZHE</wsdl:documentation>
      <wsdl:input message="tns:getsqlconHttpPostIn" />
      <wsdl:output message="tns:getsqlconHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getsqlcon">
      <soap:operation soapAction="http://oyxxi.com/getsqlcon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getsqlcon">
      <soap12:operation soapAction="http://oyxxi.com/getsqlcon" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1HttpGet" type="tns:Service1HttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="getsqlcon">
      <http:operation location="/getsqlcon" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1HttpPost" type="tns:Service1HttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="getsqlcon">
      <http:operation location="/getsqlcon" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://222.92.33.137/webservice_offer_wan/service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://222.92.33.137/webservice_offer_wan/service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1HttpGet" binding="tns:Service1HttpGet">
      <http:address location="http://222.92.33.137/webservice_offer_wan/service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1HttpPost" binding="tns:Service1HttpPost">
      <http:address location="http://222.92.33.137/webservice_offer_wan/service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>